@font-face {
    font-family: "Hynings";
    src: url("/assets/fonts/HyningsHandwritingV2-Regular.ttf") format("truetype")
}

* {
    max-width: 100%;
    border-sizing: border-box;
    line-height: 1.1;
    color: #191919;
}

body {
    background-color: #EEEEEE;
}